/* start header */
body {
  font-size: var(--main-font);
}

.header {
  padding: 57px 0px;
}

.list ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 36px;
}

.list a {
  color: #0d0e43;
}
.header .active {
  color: var(--primary);
}
.container {
  width: calc(100% - 320px);
  margin: auto;
}
@media screen and (max-width: 1400px) {
  .container {
    width: calc(100% - 200px);
    margin: auto;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: calc(100% - 100px);
    margin: auto;
  }
}
.header .bar {
  display: none;
}
form {
  display: flex;
}

.search input {
  border: none;
  outline: none;
  width: 250px;
  padding-left: 9px;
}
.search button {
  border: none;
  outline: none;
  background-color: var(--primary);
  padding: 8px 13px;
}
.search form {
  border: 2px solid #e7e6ef;
  border-radius: 5px;
}

@media screen and (max-width: 1200px) {
  .list,
  .header .search {
    display: none;
  }
  .header .bar {
    display: block;
  }
}

/* end header */

/* start hero */
.hero{
  background-color: #F2F0FF;
  padding: 50px 0;
  
}
.hero-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 0 60%;
  padding-top: 200px;
  padding-right: 30px;
  
  
  
}
.text-content{
  align-items: flex-start;
}
.hero-content .hero-lamp{
  position: relative;
  bottom: 250px;
  left:10px;
  width: 20%;
  
}
.hero-img{
flex: 1 0 30%;
}
.hero-img img{
  width: 100%;
}
.par{
  color: #8A8FB9;
}

/* end hero */

/* start products */
.fetured-product {
  padding: 50px 0;
}
.fetured-product .row {
  justify-content: flex-start;
  gap: 15px;
}
.fetured-product .product {
  flex-grow: 1;
  flex-basis: 300px;
  flex-shrink: 0;
  box-shadow: 0px 4px 4px #00000040;
}
.fetured-product h2 {
  margin-bottom: 30px;
  color: #1a0b5b;
}
.product .img {
  background-color: #eaedfc;
  padding: 30px;
  border-radius: 5px;
  height: 250px;
  object-fit: contain;
  position: relative;
}
.view-btn{
  position: absolute;
  top: 200px;
  left: 120px;
  display: none;
}
 .product:hover .view-btn{
  display: block;
 }
.product-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.pink {
  color: var(--primary);
}

.color {
  width: 20px;
  height: 6px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.color-one {
  background-color: #05e6b7;
}
.color-two {
  background-color: #f701a8;
}
.color-three {
  background-color: #00009d;
  transition: all 0.6s;
}
.texe-secondary {
  color: #151875;
}
.product-details {
  transition: all 0.6s;
}
.product:hover .product-details {
  background-color: #2f1ac4;
  border-radius: 2px;
}
.product-details h3 {
  transition: all 0.6s;
}
.product:hover .product-details h3 {
  color: #fff;
}
.product:hover .color-three {
  background-color: #ffeac1;
}
.product-info span {
  transition: all 0.6s;
}
.product:hover .product-info span {
  color: #fff;
}
.product {
  position: relative;
}

.img-logo{
  display: none;
}
.product:hover .img-logo{
  display: block;
  display: flex;
  gap: 15px;
}
.img-logo{
 transition: all 0.6s;
}

/* end products */
 
/* start leatest-products */
.Leatest-Products {
  padding: 50px 0;
}
.Leatest-Products .row {
  justify-content: flex-start;
  gap: 40px;
}
.a-list a{
  text-align: center;
  margin: auto;
  
}
.a-list{
  padding: 30px 700px;
}
.a1{
  color: red;
  text-decoration: underline;
}
.Leatest-Products .l-products {
  flex-grow: 1;
  flex-basis: 300px;
  flex-shrink: 0;
  
}
.Leatest-Products h2 {
  margin-bottom: 30px;
  color: #1a0b5b;
}

.l-products .img {
  background-color: #eaedfc;
  padding: 30px;
  border-radius: 5px;
  height: 300px;
  object-fit: contain;
  position: relative;
}

.leatest-details {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  padding: 10px 2px;
  color: #151875;
}

.leasted-info{
  gap:10px;
}
.list-color{
  color: #FB2448;
}
.badge-sale {
  position: absolute;
  top: 20px;
  left: 4px;
  display: none;
}
.leatest-logo{
  position: absolute;
  top: 180px;
  gap: 15px;
  left: 20px;
  display: none;
}

.l-products:hover .leatest-logo{
  display: flex;
  flex-direction: column;
}
.leatest-logo,.badge-sale{
 transition: all 0.6s;
}
.l-products:hover .badge-sale{
  display: block;

}
.l-products:hover .img{
 background-color: white;
}
/* end leatest-products */


/* start What-Shopex-Offer */
.What-Shopex-Offer .row{
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-between;
}
.s-products{
width: calc((100% - 15px)/4);
}

.What-Shopex-Offer{
  padding: 10px 200px;
}
.What-Shopex-Offer img{
  padding-bottom: 50px ;
  padding-top: 150px;
}

.shopex-details{
  color: #151875;
}
.shopex-details p{
  color:#8A8FB9;
}

@media screen and (max-width: 1200px) {
  .s-products{
width: calc((100% - 10px)/3);
}
}

@media screen and (max-width: 990px) {
  .s-products{
width: calc((100% - 5px)/2);
}
}
@media screen and (max-width: 350px) {
  .s-products{
width: 100%;
}
}
@media screen and (max-width: 1400px) {
  .What-Shopex-Offer .img {
   opacity: 0;
  }
}
/* end What-Shopex-Offer */

/* start trending */
.trending-products{
  padding: 80px 0;
}

.trending-products .row {
  justify-content: flex-start;
  gap: 40px;
}
.trending-products .t-products {
  flex-grow: 1;
  flex-basis: 300px;
  flex-shrink: 0;
  
}
.trending-products h2 {
  margin-bottom: 30px;
  color: #1a0b5b;
}

.t-products .img {
  background-color: #eaedfc;
  padding: 30px;
  border-radius: 5px;
  height: 240px;
  object-fit: contain; 
}

.trending-details {
  display: flex;
  justify-content: space-between;
  padding: 10px 2px;
  color: #151875;
}

.trending-info{
  justify-content:center;
  gap:20px;
}

.l-trending{
  padding: 70px 70px;
  position: relative;
}
 .l-trending a {
text-decoration:underline;
color: #ff0000;
  display: block;

}
.line-through{
  text-decoration: line-through;
}

.trending-products .l-trending  {
  flex-grow: 1;
  flex-basis: 300px;
  flex-shrink: 0;
  
}
.l-trending h2 {
  margin-bottom: 30px;
  color: #1a0b5b;
    display: block;
    text-align: start;
}

.l-trending .img {
  background-color: #eaedfc;
  padding: 30px;
  border-radius: 5px;
  object-fit: contain; 
}
.l-trending .img1 {
  background-color: #eaedfc;
 
}

.l-trending  {
 height: 350px;
}

.trending-products .gap  {
 gap:100px;
 
}

.img-trending1{
  position: absolute;
  left: 150px;
  top: 100px;
}

.img-trending2{
  position: absolute;
  left: 90px;
  top: 150px;
}
.l-trending .extra{
  padding:10px;
}
.extra .par h3 {
  align-items: center;
}
.l-trending a {
  text-align: left;
}
.extra .par{
  color: #151875;
}
.l-trending:hover{
  background-color:#eaedfc;
}
/* end trending */

/* start top-categories */
.top-categories{
  margin-bottom: 80px;
}
.top-categories h2 {
  margin-bottom: 30px;
  color: #1a0b5b;
    text-align: center;
  
}
.top-categories .img{
  border-radius: 50%;
  background-color:  #eaedfc;
  padding: 50px;
 transition: all 0.6s;
 position: relative;
}
.view-shop-btn{
  position: absolute;
  top: 230px;
  left: 90px;
  display: none;
  padding: 10px 10px;
  transition: all 0.6s;
}
.t-categories:hover .view-shop-btn{
  display: block;
}
.t-categories:hover .img{
  box-shadow: -8px 8px 0px 0 #979edd;
}

.head{
  display: flex;
  padding: 10px 50px;
  justify-content: space-between;
}
.l-categories{
   color: #151875;
  
}

/* end top-categories */

/* start Leatest Blog */
.Leatest-Blog{
  padding: 80px 0;
  justify-content: space-between;
 
}
.l-blog{
  width: 350px;
}
.l-blog:hover .blog-content h3, .l-blog:hover .blog-content a{
  color: red;
}
.blog-content h3,p {
  transition: all 0.6s;
}
.l-blog .img{
  width: 100%;
}
.Leatest-Blog h2 {
  margin-bottom: 30px;
  color: #1a0b5b;
  text-align: center;
}
.logo-blog{
  display: flex;
  gap: 70px;
  padding: 10px 10px;
}
.blog-content{
  padding: 0 10px;
}
.blog-content h3{
  color: #151875;
}
.l-blog span{
  color:#151875;
  
}
.Leatest-Blog a {
  text-decoration:undserline;
}
.blog-content p{
  color: #72718f;
  
}

/* end Leatest Blog */

/* start nweslater */
.newslater {
  background-image: url("./img/Rectangle.webp");
  padding: 175px 0;
  text-align: center;
}
.newslater h2 {
  margin-bottom: 50px;
  color: #151875;
  font-size: 35px;
}
.shop-btn {
  transition: all 0.5s;
}
.shop-btn:hover {
  background-color: #8a8fb9;
}
/* end newslater */

/* start clients */
.clients {
  padding: 50px 0;
}

.clients .row {
  flex-wrap: nowrap;
  gap: 15px;
  overflow-x: auto;
}
.clients .logo {
  width: calc((100% - 60px) / 5);
}
@media screen and (max-width: 900px) {
  .clients .logo {
    width: calc((100% - 30px) / 3);
  }
}
/* end clients */


/* start footer */
footer {
  background-color: #eeeffb;
  padding: 50px 0px;
}
footer .row {
  gap: 30px;
}
footer .right-side {
  width: calc((100% - 30px) / 2);
}

footer .left-side {
  align-items: flex-start;
  gap: 35px;
  width: calc((100% - 30px) / 2);
}
.footer-item {
  gap: 45px;
  width: calc((100% - 90px) / 3);
}
footer .right-side .row {
  gap: 35px;
  align-items: flex-start;
}
footer a,
.address-info {
  color: #8a8fb9;
}

@media screen and (max-width: 992px) {
  footer .left-side,
  footer .right-side {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  footer {
    text-align: center;
  }
  .footer-item {
    width: 100%;
  }
}

/* end footer*/
